.footer
  position: relative
.map
  width: 50%
  position: absolute
  left: 0
  top: 0
.contacts
  flex-basis: 50%
  padding-top: 100px
  padding-left: 200px
  &__title
    +bold
    font-size: 22px
    line-height: 1.4
    margin-bottom: 100px
  &-block
    display: flex
    justify-content: flex-end
  &-list
    padding: 0
    list-style: none
    &__icon
      width: 20px
      height: 20px
      text-align: center
      line-height: 20px
      margin-right: 23px
    &__item
      display: flex
      align-items: flex-start
      margin-bottom: 39px
@media (max-width: 1200px)
  .contacts
    padding-left: 100px
@media (max-width: 768px)
  .footer
    display: flex
    flex-direction: column-reverse
  .contacts
    flex-basis: 100%
    padding: 66px 0
    &__title
      font-size: 18px;
      margin-bottom: 39px
    &-list__text
      font-size: 16px;
      line-height: 26px
  .map
    position: relative
    width: 100%