.hero
  &__background
    background-color: $secondary

  &-image
    box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
    width: 570px;
    height: 488px;

  &-block
    display: flex
    margin-top: 50px 

  &-text
    flex-basis: 50%
    padding-right: 100px
  
    &__title
      font-size: 41px
      font-weight: 500
      line-height: 55px
      margin-bottom: 36px
      font-family: 'Museo Sans Light'
    &__subtitle
      display: inline-block
      font-size: 20px
      font-weight: 500
      margin-bottom: 69px
  &-list
    margin: 0
    padding: 0   
    &__item
      display: flex
      align-items: center
      margin-bottom: 25px
      &:last-child  
        margin-bottom: 0
    &__image
      width: 40px
      height: 40px
      border: 2px solid #ffd200;
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      margin-right: 30px
    &__text
      max-width: 250px 
      font-size: 14px;
      font-weight: 400;
      line-height: 24px
@media (max-width: 1200px)
  .hero
    &-block
      flex-direction: column
    &__list
      margin-bottom: 44px
    &__text
      margin-right: 10px
@media (max-width: 768px)
  .hero
    &-text
      padding-right: 0
      &__title
        font-size: 24px
        line-height: 1.4
        margin-bottom: 15px
      &__subtitle
        font-size: 16px
        margin-bottom: 28px
      &-list
        flex-direction: column
        &__text
          font-size: 12px
        &__item
          margin-bottom: 20px
          width: 90%
          display: flex

        