.offer
  background: url('../img/offer/offer-bg.png')
  background-position: center right
  background-size: contain
  position: relative
  &:before
    content: ''
    width: 50%
    height: 100%
    position: absolute
    background-color: white
    top: 0
    left: 0
  &-block
    width: 50%
    padding-right: 90px
    position: relative
  &__title
    max-width: 360px
    line-height: 35px
    margin-bottom: 20px
    text-align: left
  &__subtitle
    max-width: 250px
    margin-bottom: 30px
  &__input
    margin-bottom: 30px
    width: 245px
    margin-right: 10px
    //display: inline-block
    &:first-child
      margin-right: 10px
  &__button
    width: 100%
    min-height: 70px
    margin-bottom: 30px
  &__form-inputs
    
  &-backline
    display: flex
    justify-content: space-between
    font-size: 15px
    font-weight: 400
    line-height: 24px
    &__text
      flex-basis: 46%
      margin-bottom: 24px
      &-phonenumber
        margin-top: 4px
        +bold

@media (max-width: 1200px)
  .offer
    block-size: 100%
    &__input
      width: 100%
      margin-bottom: 10px
    &__button
      font-size: 13px
@media (max-width: 768px)
  .offer
    background: #fff
    &-block
      width: 100%
      padding-right: 0 